/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
	font-family: gill;
	src: url(./font/GIL_____.TTF) format("opentype");
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
	width: 100%;
	height: 100%;
}
.header{
	width: 95%;
	height: 40px;
	margin: 30px 30px;
}
.menu{
	float: left;
	width: 60%;
	height: 100%;
	background: blueviolet;
}
.menu_right{
	float: right;
	width: 40%;
	height: 100%;

}
.menu a{
    float: left;
	width: 130px;
	height: 30px;
	padding-top: 10px;
	background-color: darkgoldenrod;
    text-align: center;
    font-size: 20px;
}
.menu a:hover{
	font-weight: bold;
	color: #00aaae;
}
.menu_right a{
	height: 30px;
	padding-top: 10px;
	float: right;
	text-align: center;
    font-size: 20px;
}
a{
	color: #000;
    text-decoration: none;
}
.content{
	width: 95%;
	height: 400px;
	margin: 50px auto;
	background: #b83535;
}
.con_left{
	float: left;
	display:table-cell;
	width: 60%;
	text-align: center;
	background: pink;
	height: 300px;
}
.ready{
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	margin-top: 150px;
	vertical-align: middle;
	background-color: green;
}
.add_todo_list{
	width: 400px;
	margin: 0 auto;
	display: none;
	margin-top: 110px;
	vertical-align: middle;
	background-color: green;
}
.con_right{
	width: 40%;
	height: 300px;
	text-align: center;
	background: chartreuse;
	float: right;
}
.asking_word{
	display: block;
	margin-top: 10px;
	float: left;
	line-height: 1.4;
	text-align: left;
	font-size: 25px;
	font-weight: bold;
	font-family: '微軟正黑體';
}
button{
	border: 0px;
	background-color: transparent;
}
.start{
	margin-left: 20px;
	font-size: 20px;
	font-family: inherit;
	width: 45px;
	height: 45px;
	border-radius:50%;
	background-color: #8fd3f4;
	float: left;
}
.start img{
	width: 15px;
	margin-left: 5px;
	display:inline-block;
	vertical-align: middle;
}
.user_img{
	margin-right: 20px;
	margin-left: 40px;
	margin-top: -10px;
	width: 35px;
}
.tomato_img{
	height: 100%;
}
.todo_list_btn_frame{
	float: left;
	display: block;
	width: 78%;
	margin-top: 15px;
	height: 38px;
	border: 1px #000 solid;
	border-radius: 100px;
}
.space{
	float: right;
	width: 100px;
}
.todo_list_btn_frame p{
	float: left;
	margin-left: 20px;
	line-height: 38px;
	color: gray;
	font-size: 19px;
	letter-spacing: 1px;
}
.no_to_add{
	float: left; 
	margin-left: 20px; 
	margin-top: 25px;
	text-decoration: none;
	background-color: chocolate;
	padding-bottom: 6px; 
	border-bottom: #000 0.5px solid;
}
.todo_list_btn{
	margin-top: 3px;
	margin-right: 3px; 
	height: 32px;
	width: 110px;
	float: right;
	font-size: 16px;
	font-weight: bold;
	background-color: #8fd3f4;
	border-radius: 70px;
	color: #FFF;
}
.todolist{
	width: 55%;
	height: 100%;
	padding-top: 70px;
	padding-left: 5%;
	float: left;
}
.add_thing input{
	float: left;
	width: 50%;
	height: 40px;
	border: 0.5px gray solid;
	border-radius: 100px;
	font-size: 18px;
	padding: 2px 18px;
	letter-spacing: 1px;
}
.add{
	float: left;
	width: 45px;
	height: 45px;
	padding: 2px; 
	margin-left: 3%;
	border-radius:50%;
	background-color:#6b6b6b;
}
.today_task{
	margin-top: 30px; 
}
.today_task h2{
	width: 106px;
	font-family: gill;
	text-align: center;
	padding-bottom: 10px;
	display: block;
	color: #161515;
	font-size: 23px;
	font-weight: bold;
	border-bottom: rgb(165, 164, 164) 0.5px solid;
}
.tasks{
	margin: 20px 0px;
	width: 80%;
}
.tasks li{
	margin: 30px 0px;
	width: 100%;
}
.thing_name{
	width: 50%;
	text-overflow: ellipsis;
	overflow:hidden;
	white-space : nowrap;
	font-size: 17px;
	float: left;
}
.tomato_num{
	margin-top: 2px;
	font-size: 13px;
	float: right;
}
.tasks button{
	width: 55px;
	border: 0.5px solid;
	border-radius: 5px;
	font-size: 12px;
	padding: 2px;
	float: right;
	margin-left: 10px;
}
.gray{
	color: rgb(90, 90, 90);
}
.light_gray{
	color: #acacac;
}
.red{
	color: red;
}
.blue{
	color: #00aaae;
}
.con_right p {
	font-size: 20px;
}
.footer{
	width: 100%;
}
.des_to_time{
	width: 30%;
	float: left;
	font-size: 30px;
	font-weight: bold;
	height: 500px;
	background-color: aqua;
}
.center_v{
	font-family: gill;
	margin-top: 150px;
	margin-left: 15%;
	letter-spacing: 1px;
}
.center_v p{
	padding: 10px;
}
.clock{
	width: 40%;
	float: left;
	height: 500px;
	background-color: rgb(30, 255, 0);
}
.clock_frame{
	display: block;
	margin: 10px auto;
	border: 0.5px solid;
	text-align : center;
	height: 400px;
	width: 400px;
	border-radius: 50%;
}
.hour{
	height: 170px;
	margin: 15px;
}
.sec{
	width: 130px;
	margin:30px;
	margin-top: 0px;
	float: right;
}
.timer_tomato_img img{
	display: block;
	width: 200px;
	margin: 0 auto;
	margin-top: -130px;
}
.task_right{
	width: 30%;
	float: right;
	height: 500px;
	background-color: fuchsia;
}
.status{
	padding-top: 60px;
	background-color: #6b6b6b;
	padding-left: 50px;	
}
.task_name{
	padding-top: 10px;
	width: 80%;
	background-color: #00aaae;
	font-weight: bold;
	font-size: 20px;
	/* 超過3行則顯示刪節 */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;

}
.status a{
	display: block;
	padding-top: 10px;
	font-family: gill;
	letter-spacing: 1px;
}
.status button{
	width: 150px;
	border: 1px solid;
	border-radius: 50px;
	font-family: gill;
	letter-spacing: 1px;
	font-style: italic;
	font-size: 26px;
	padding: 8px 0px;
}
.recal{
	font-size: 20px;
	font-style: italic;
	padding-left: 25px;
	margin-top: -10px;
}
.dialog_finish{
	font-family: "微軟正黑體";
	font-weight: bold;
	font-size: 22px;
	width: 350px;
	height: 200px;
	border: 0px;
	text-align: center;
	border-radius: 40px;
}
dialog::backdrop {
	background-color: rgba(255, 255, 255, 0.7);
}
.dialog_finish span{
	display: block;
	margin-top: 80px;
}
.dialog_finish_btn{
	display: block;
	width: 100%;
	background-color: chartreuse;
}
.ui-dialog-buttonpane{
	display: block;
	width: 100%;
	margin: 0 auto;
}
.blue_frame{
	margin-top: -17px; 
	border: 7px solid #bdeaff;
	border-radius: 50%;
}
.member_left{
	float: left;
	width: 500px;
	background-color: blue;
}
.member_left img{
	width: 200px;
	padding-left: 40%;
	padding-top: 100px;
}
.member_right{
	float: left;
	width: 50%;
	padding-top: 140px;
	font-size: 30px;
	position: relative;
}
.member_right h2{
	float: left;
	padding-right: 5%;
}
.user_name{
	float: left;
	width: 40%;
	background-color: #b835b2;
	/* 超過3行則顯示刪節 */
	text-overflow: ellipsis;
	white-space : nowrap;
	overflow: hidden;
}
.member_right p{
	display: block;
	margin-top: 90px;
}
.goal_num{
	margin: 20px;
}
.edit_img{
	position: absolute;
	width: 35px;
	right: 20%;
	top: 25%;
}
.name_edit{
	float: left;
	border: 0.5px solid #acacac;
	width: 220px;
	padding: 10px 17px;
	border-radius: 70px;
	margin-left: 1%;
	font-size: 24px;
	margin-top: -9px;
	color: #424242;
	text-align: center;
}
.num_edit{
	width: 35px;
	margin: 0 10px;
	height: 30px;
	font-size: 20px;
	padding: 2px 5px;
	text-align: center;
}
.save_edit{
	width: 170px;
	height: 50px;
	font-size: 25px;
	font-weight: bold;
	background-color: #00aaae;
	border-radius: 15px;
	float: right;
	margin-right: 50px;
	margin-top: 20px;
	color: #FFF;
}

.clear{
	clear: both;
}